<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Exo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link href="./static/main.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Page Selection</title>
  </head>
  <body>
    <div class="logo">
      <img src="./static/Logo.png" />
    </div>
    <h6>Youtube Comments Sentiment Analyzer</h6>
    <h1>Page Selection</h1>
    <div class="button-container">
      <button class="button2">
        <a href="/models">Use Default Database</a>
      </button>
    </div>

    <div class="footer">
      <img src="./static/Bottom Design.png" />
    </div>
  </body>
</html>
