<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Exo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link href="./static/main.css" rel="stylesheet" />

    <title>Youtube Sentiment Analyzer</title>
  </head>
  <body>
    <div class="logo">
      <img src="./static/Logo.png" />
    </div>
    <h1>Youtube Comments Sentiment Analyzer</h1>
    <div class="search">
      <input type="text" placeholder="Enter URL..." />
      <button>Search</button>
    </div>
    <div class="footer">
      <img src="./static/Bottom Design.png" />
    </div>
  </body>
</html>
